hr{
  margin-top: 30%;
  margin-right: 10%;
}

body{
  background-color: #71acd8;
}

nav{
  margin-bottom: auto;
  margin-top: -0.56%;
  margin-left: auto;
  margin-right: auto;
  border-width: medium;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: black;
  max-width: fit-content;
  width: max-content;
  height: 45;
  background-color: rgb(255, 255, 255);
} 

nav a:link, nav a:visited{
    margin-top: 3%;
    margin-left: 20;
    margin-right: 20;
    color: rgb(2, 2, 2);
    text-decoration: none;
    margin-bottom: 100;
}

nav a {
  display: inline-block;
  text-align: center;
}

nav a:hover{
  color: blue;
}

img{
  width: 64;
  height: 64;
}

/*nav a::after {
  margin-top: 10;
  text-align: center;
  content: '';
  width: 0px;
  height: 9px;
  display: block;
  background: blue;
  transition: 100ms;
}

nav a:hover::after{
  width: 100%;
}
