hr{
  margin-top: 30%;
  margin-right: 10%;
}

body{
  background-color: #71acd8;
  margin: 0px;
}

nav{
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-width: medium;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: black;
  width: max-content;
  height: 45px;
  background-color: rgb(255, 255, 255);
} 

nav a:link{
    margin-top: 3%;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(2, 2, 2);
    text-decoration: none;
    margin-bottom: 100px;
}

nav a:visited{
  color: rgb(2, 2, 2);
}

nav a {
  display: inline-block;
  text-align: center;
}

nav a:hover{
  color: blue;
}

img{
  width: 64;
  height: 64;
}
@media screen and (max-width: 600px){
  nav a:link{
    margin-left: 5px;
    margin-right: 5px;
  }
}