.labels{
  padding-left: 10%;
  font-weight: bold;
  font-family: cursive;
  font-size: 25;
}

.contact{
  padding-left: 10%;
  font-weight: bolder;
  font-size: 20;
}
.values{
  font-weight: bold;
  font-style: oblique;
  font-size: 20;
}
.values code{
  font-style: normal;
}
.name{
  padding-left: 10%;
  color: blue;
  font-size: 35;
}
.brief{
  font-weight: bolder;
  padding-left: 10%;
  padding-top: 5%;
}
.link{
  margin-right: 50px;
}
.link a:link, a:visited{
  text-decoration: none;
  font-size: 18;
  font-weight: lighter;
  color: blue;
}
.link a:hover{
  text-decoration: underline;
}
.tooltip {
  position: relative;
  display: inline-block
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  height: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
